@model IEnumerable<string[]>

@{
    ViewData["Title"] = "Home";
}

<h1>Recent Posts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item[1])
            </td>
 
            <td>
                <a asp-action="Edit" asp-route-id="@item[0]">Edit</a> |
                <a asp-action="Details" asp-route-id="@item[0]">Details</a> |
                <a asp-action="Delete" asp-route-id="@item[0]">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
